# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\JEanpa\Desktop\UTPL\Introduccion a la Programación\Segundo Bimestre\2bim-proyecto-python-jeanpa98\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
